#root {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  border-radius: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #ffffff;
  /* flex: auto; */

}

a.tbl-biru {
  background: #3f72af;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-biru:hover {
  background: #fc5185;
  text-decoration: none;
}

a.tbl-pink {
  background: #fc5185;
  border-radius: 20px;
  margin-top: 20px;
  padding: 15px 20px 15px 20px;
  color: #ffffff;
  cursor: pointer;
  font-weight: bold;
}

a.tbl-pink:hover {
  background: #3f72af;
  text-decoration: none;
}
section {
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}

p {
  margin: 10px 0px 10px 0px;
  padding: 10px 0px 10px 0px;
}


@media screen and (max-width: 991.98px) {
  section {
    display: block;
  }
}