

.login-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 200px;
  background: #ff4081;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-container h1 {
  margin-bottom: 40px;
  /* margin-bottom: 100px; */
  row-gap: 200px;
  text-align: center;
  text-size-adjust: 100%;
  color: #ffffff;
}

.login-container form {
  display: flexbox;
  flex-direction: column;
  gap: 20px;
  /* size-adjust: 100%; */
}

.login-container label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #ffffff;
}